.body {
    color: #FFFFFF;
    background-color: #0e062c;
    font-family: 'Kumbh Sans', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 62px;
    padding-bottom: 66px;
}